

* {
  box-sizing: border-box;
}





/* ============================ */

.block {
  display: inline-block;
    width: 256px;
    height: 211px;
    background: rgb(168, 145, 111);
    padding: 18px 33px 21px 28px;
    margin-top: 8px;
    margin-right: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 5px 0px black;
}

.scroll {
  width: auto;
  height: 500px;
  overflow: auto;
  background: rgb(206, 202, 198);
  border-radius: 20px 0px 0px 20px;
  border: groove black;
  padding: 2px;
  margin: 3px;
}